{% extends "polls/base.html" %}

{% block title %}Detalhes da Enquete{% endblock title %}

{% block content %}
    <div>
        <p> <b>Código:</b> {{ question.id }} </p>
        <p> <b>Título:</b> {{ question.question_text }} </p>
        <p> <b>Data de Publicação:</b> {{ question.pub_date }} </p>
    </div>

    <a href="{% url 'index' %}">Página Inicial</a>

    <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>{{ question.question_text }}</h2></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
        </form>

{% endblock content %}