{% extends 'polls/base.html' %}

{% block content %}

<div class="card">

    <div class="card-header">

        <h1 class="card-title">Meu Perfil</h1>

    </div>

     <div class="card-body"> 

         <p>E-mail: {{ user.email }}</p>

         <h2>Enquetes que você votou</h2>

          <ol>
                {% for item in questions_voted %}

                        <li>{{ item.question.question_text }}</li>

                {% empty %}

                         <li>Você não votou em nenhuma enquete</li>

                {% endfor %}

          </ol>

     </div>

</div>

{% endblock content %}